- @articles.each do |article|
  .row.article-row
    %h5.article-title.col-xs-12
      = link_to article_path(article[:id]) do
        .row.vertical-align
          .col-xs-10.no-padding-r
            = article.title
          .col-xs-1.article-arrow
            .fa.fa-angle-double-right.fa-lg{class: "#{cycle_colors}"}
    .hidden-xs
      %p.lead.col-xs-6
        by #{link_to article.author, root_path}
      %p.time.lead.col-xs-6
        %span.glyphicon.glyphicon-time
        = article.created_at.strftime("%d-%m-%Y")
      %hr/
      #display-content.col-xs-12
        = article.text.html_safe
        = link_to ('Read More <span class="glyphicon glyphicon-chevron-right"></span>').html_safe,
          article_path(article[:id]),
          class: "btn btn-primary"
    %hr/
= will_paginate @collection, class: "pag-wrap", previous_label: "&#8592; Prev"
