- @articles.each do |article|
  .row.article-row
    .article-title.col-xs-12
      = link_to article_path(article[:id]) do
        .row.vertical-align
          .col-xs-10.no-padding-r
            %h1.no-margin
              = article.title
          .col-xs-1.article-arrow.visible-xs
            .fa.fa-angle-double-right.fa-lg{class: "#{cycle_colors}"}
    %hr.hidden-xs
    .hidden-xs
      .col-xs-6
        %h4.lead.author
          By #{link_to article.author, root_path}
      .col-xs-6
        = image_tag 'time_icon.png', alt: 'Clock Icon', class: 'img-responsive icon vcenter'
        %h4.time.lead.vcenter
          = article.created_at.strftime("%d-%m-%Y")
      .col-xs-6
        = image_tag 'category_icon.png', alt: 'Category Icon', class: 'img-responsive icon vcenter'
        - if article.category
          = link_to article.category.name, category_show_path(article.category.id), class: 'lead vcenter'
      .col-xs-6
        = image_tag 'comment_icon.png', alt: 'Comment Icon', class: 'img-responsive icon vcenter'
        %a.lead.vcenter
          = article.comments.count
      %hr.visible-xs
      #display-content.col-xs-12
        = truncate_html article.text.html_safe, length: 1200, omission: ''
        = link_to ('...read more').html_safe,
          article_path(article[:id])
- if @articles.count > 10
  = will_paginate @articles, class: "pag-wrap", previous_label: "&#8592; Prev"
