= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, 'error')
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :user_id, value: current_user.id
  %p.author.col-sm-6
    = f.label :author
    = f.text_field :author, class:"form-control", placeholder:"Author"
  %p.title.col-sm-6
    = f.label :title
    = f.text_field :title, class:"form-control", placeholder:"Title"
  %p.category.col-sm-2
    = f.label :category_id
    = f.collection_select :category_id, Category.all, :id, :name, prompt: true
  %p.category.col-sm-10
    = f.label :subject
    = f.text_area :subject, class: "form-control", placeholder: "Subject..."
  %p.content.col-xs-12
    = f.label :text
    = f.text_area :text, class: "redactor"
  = f.submit "Create",
    class:"form-create btn btn-default col-xs-4 col-xs-offset-1"
