- title @article.title
.container
  .row
    / Blog Post Content Column
    #article-header.col-md-8
      / Title
      %h1
        = @article.title
      = link_to 'Edit', edit_article_path(@article)
      / Author
      %p.lead
        by
        %a{href: '#'}
          = @article.author
      / Date - Time
      %p
        %span.glyphicon.glyphicon-time
          = @article.created_at.strftime('%I:%M%p')
          %br/
          = @article.created_at.strftime('%d-%m-%Y')
      %hr/
    / Post Content
    #article-body.col-md-8
      %p
        = @article.text.html_safe
    / Blog Comments
    #article-comments.col-md-8
      / Comments Form
      %hr/
      = render 'comments/form' if user_signed_in?
      - if @article.comments.count > 0
        = render @article.comments
