.container
  .row
    / Blog Post Content Column
    .col-md-8
      = link_to 'Edit', edit_article_path(@article)
      = link_to 'Back', articles_path
      / Blog post
      / Title
      %h1
        = @article.title
      / Author
      %p.lead
        by
        %a{href: '#'}
          = @article.author
      / Date - Time
      %p
        %span.glyphicon.glyphicon-time
          = @article.created_at.strftime('%I:%M%p')
          %br/
          = @article.created_at.strftime('%d-%m-%Y')
      %hr/
      / Post Content
      %p
        = @article.text.html_safe
      / Blog Comments
      / Comments Form
      = render 'comments/form'
      %hr/
      - if @article.comments.first.body != nil
        %h2 Comments
        = render @article.comments
