- categories = get_categories
%nav.navbar.navbar-default.navbar-fixed-top
  .row
    .container
      .navbar-header.row
        .col-xs-9.col-sm-4
          = link_to root_path do
            = image_tag "logo-rec.png",
              id: "logo", alt: "Trending Virtual Logo"
        .col-xs-2.dropdown-btn
          %button.navbar-toggle{ "data-target" => ".navbar-collapse",
            "data-toggle" => "collapse", type: "button" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .col-xs-12.col-sm-8.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = render 'layouts/navigation_links'
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false",
                                 "aria-haspopup" => "true",
                                 "data-toggle" => "dropdown",
                                 href: "#",
                                 role: "button"}
                %span.glyphicon.glyphicon-menu-hamburger
                CATEGORIES
              %ul.row.dropdown-menu
                - categories.each do |cat|
                  %li
                    = link_to cat.name, category_show_path(cat.id)
          %form.navbar-form.navbar-left
            .form-group
              = form_tag(articles_path, method: 'get', id: 'search-form') do
                = text_field_tag :search, params[:search],
                  placeholder: "Search", class: 'form-control'
                = submit_tag "SEARCH", class: 'btn btn-default'
