!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      TV -
      = yield(:title).presence || "Trending Virtual"
    %meta{name: "description",
      content: "#{content_for?(:description) ? yield(:description) : 'Trending Virtual'}"}
    = stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css",
      rel: "stylesheet" }

  %body
    %header
      = render 'layouts/navigation'
    %main{role: "main"}
      = render 'layouts/messages'
      = yield
    %footer.footer-distributed
      = render 'layouts/footer'
